<div class="gallery">

  
  <img src="/Omerta/assets/img/arbol.JPG" alt="arbol" />
  <img src="/Omerta/assets/img/hombre.JPG" alt="hombre" />
  <img src="/Omerta/assets/img/casa.JPG" alt="casa" />
  <img src="/Omerta/assets/img/ropa2.JPG" alt="ropa2" />
  <img src="/Omerta/assets/img/mar1.JPG" alt="mar1" />
  <img src="/Omerta/assets/img/ganado3.jpg" alt="ganado3" />
  <img src="/Omerta/assets/img/ropa1.JPG" alt="ropa1" />
  <img src="/Omerta/assets/img/basket.JPG" alt="basket" />
  <img src="/Omerta/assets/img/ad2.JPG" alt="ad2" />
  <img src="/Omerta/assets/img/ganado.JPG" alt="ganado" />
  <img src="/Omerta/assets/img/ad1.JPG" alt="ad1" />
  <img src="/Omerta/assets/img/ganado2.JPG" alt="ganado2" />
  <img src="/Omerta/assets/img/guachaca.JPG" alt="guachaca" />
  <img src="/Omerta/assets/img/planta.JPG" alt="planta" />
  <img src="/Omerta/assets/img/via.JPG" alt="via" />
  <img src="/Omerta/assets/img/carro.JPG" alt="carro" />
  <img src="/Omerta/assets/img/mama.jpg" alt="mama" />
  <img src="/Omerta/assets/img/dubai.JPG" alt="dubai" />
  <img src="/Omerta/assets/img/perros.jpeg" alt="perros" />
  <img src="/Omerta/assets/img/mar2.jpg" alt="mar2" />
  <img src="/Omerta/assets/img/porto.JPG" alt="porto" />

</div>

